.Access {
  text-align: center;
}

.Access-logo {
  height: 40vmin;
  pointer-events: none;
}

.Access-header {
  background-color: white;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-family: 'Ubuntu';
  color: black;
}

.Detect {
  text-align: center;
}

.Detect-logo {
  height: 40vmin;
  pointer-events: none;
}

.Detect-header {
  background-color: white;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  font-family: 'Ubuntu';
  color: black;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
